pipeline/until_fail.json
{
	"name": "until_fail",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('NAME'),'AVI')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"timeout": "0.00:00:10"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "THE INPUT VARIABLE IS NOT AVI",
						"type": "Expression"
					},
					"errorCode": "25041990"
				}
			}
		],
		"variables": {
			"NAME": {
				"type": "String",
				"defaultValue": "AVI"
			},
			"UNTILVAR": {
				"type": "Integer",
				"defaultValue": 5
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-09T07:30:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}