pipeline/VALIDATION_IF_CONDITION.json
{
	"name": "VALIDATION_IF_CONDITION",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Validation1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute Pipeline2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "wait",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"wait_parm": 2
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "getmetadata",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SQL_DATABASE_DEPARTMENTS",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:59",
					"sleep": 10
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-09T08:35:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}